[submodule "src/xamarin-login-module"]
	path = src/xamarin-login-module
	url = https://github.com/opticrd/xamarin-login-module
[submodule "src/xamarin-styles-module"]
	path = src/xamarin-styles-module
	url = https://github.com/opticrd/xamarin-styles-module
[submodule "src/xamarin-ui-module"]
	path = src/xamarin-ui-module
	url = https://github.com/opticrd/xamarin-ui-module
